<h2 class="text-center text-xl">Ingresar nuevo elemento</h2>

<form [formGroup]="form" (ngSubmit)="submitHandler(form.value)">
  <div class="my-4 flex gap-2 items-center">
    <label class="min-w-20" for="name">Nombre:</label>
    <input
      placeholder="Ingresar nombre"
      formControlName="name"
      tabindex="0"
      class="grow py-1 px-2 basis-36 border border-black rounded-sm placeholder:text-gray-400"
      autocomplete="off"
      type="text"
      id="name" />
  </div>

  <div class="my-4 flex gap-2 items-center">
    <label class="min-w-20" for="price">Precio:</label>
    <input
      placeholder="Ingresar Precio por paquete"
      formControlName="price"
      min="0"
      class="grow py-1 px-2 basis-36 border border-black rounded-sm placeholder:text-gray-400"
      type="number"
      id="price" />
  </div>
  <div class="my-4 flex gap-2 items-center">
    <label class="min-w-20" for="quantity">Cantidad:</label>
    <input
      placeholder="Ingresar cantidad por paquete"
      formControlName="quantity"
      class="grow py-1 px-2 basis-36 border border-black rounded-sm placeholder:text-gray-400"
      type="number"
      id="quantity" />
  </div>
  <div class="my-4 flex gap-2 items-center">
    <label class="min-w-20" for="unit">Unidad:</label>

    <div class="grow">
      <select
        required
        id="unit"
        name="unit"
        formControlName="unit"
        class="flex w-full py-1 px-2 border border-black rounded-sm min-w-0 appearance-none bg-white invalid:text-gray-400">
        <option value="" disabled selected>
          Selecciona unidad de medida del paquete
        </option>

        @for (o of options; track o.label) {
          <optgroup [label]="o.label">
            @for (item of o.options; track item.value) {
              <option [value]="item.value">{{ item.label }}</option>
            }
          </optgroup>
        }
      </select>
    </div>
  </div>

  <rp-button
    className="m-auto mt-4 bg-green-500"
    type="submit"
    [loading]="loading()"
    [disabled]="!form.valid">
    Guardar
  </rp-button>
</form>
